@font-face {
    font-family: kontora-extrablack;
    src: url(../assets/font/kontora-extrablack.otf);
}

@font-face { 
    font-family: kontora-medium;
    src: url(../assets/font/kontora-medium.otf);
}

@font-face {
    font-family: kontora-regular;
    src: url(../assets/font/kontora-regular.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: kontora-regular !important;
}

html {
    font-size: 22px;
    height: 100% !important; 
}

body { 
    padding: 0 5rem; 
    height: 100%;
    background-color: black;
}

.btn {
    width: 250px;
    height: 80px;
    cursor: pointer;
}

.btn:hover {
    width: 275px;
    height: 90px;
}

.frame {
    height: 100%;
    background-image: url(../assets/img/preguntas.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.pregunta-container {
    height: 50%;
    padding: 0 5rem;
}

.pregunta {
    font-family: kontora-extrablack !important;
    padding: .8rem 0;
    border-radius: 30px;
    background-color: #F8D20D;
    color: #000;
    text-align: center;
}

.opcion {
    border: 5px solid transparent;
    padding: .3rem 0;
    border-radius: 30px;
    background-color: #bcdc96;
    color: #000;
    text-align: center;
    margin: 0 .5rem;
    cursor: pointer;
}

.opcion:hover {
    border: 5px solid #F8D20D;
}

.score-frame {
    height: 60px;
    position: absolute;
    bottom: 4%;
    right: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.puntos-container {
    font-family: kontora-extrablack !important;
    border: 10px solid #065020;
    border-radius: 30px;
    padding: 0 1.5rem;
    color: #000;
    background-color: #fff;
}

.time-container {
    height: 84px;
    width: 50px;
    border: 10px solid #065020;
    border-radius: 400px;
    padding: 0 1.5rem;
    color: #000;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.puntos-container span{
    font-family: kontora-extrablack !important;
    color: #F8D20D;
}

